<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>

        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <div class="modal-image"></div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i>
            Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
</div>


<div id="gallery" class="span5" data-toggle="modal-gallery" data-target="#modal-gallery">
<a data-gallery="gallery"
                                                                              href="http://farm8.static.flickr.com/7386/9598065997_b31e1ce45f_b.jpg"
                                                                              title="光耀大地"><img
        src="http://farm8.static.flickr.com/7386/9598065997_b31e1ce45f_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7321/9605572464_951e9df5a1_b.jpg"
                                                                                     title="IMG_1759 Mountain Goat Nanny and Kid, Glacier National Park"><img
        src="http://farm8.static.flickr.com/7321/9605572464_951e9df5a1_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3726/9601531731_3e0a3afec3_b.jpg"
                                                                                     title="Mon Repos"><img
        src="http://farm4.static.flickr.com/3726/9601531731_3e0a3afec3_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5332/9598656830_ff84e715cf_b.jpg"
                                                                                     title="Star Finch"><img
        src="http://farm6.static.flickr.com/5332/9598656830_ff84e715cf_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7452/9602028520_89d7f6d95d_b.jpg"
                                                                                     title="Gliniada Boleslawiec 2013"><img
        src="http://farm8.static.flickr.com/7452/9602028520_89d7f6d95d_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3684/9599753794_f40b09dd95_b.jpg"
                                                                                     title="Long-taIled Jaeger - North Carolina"><img
        src="http://farm4.static.flickr.com/3684/9599753794_f40b09dd95_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2833/9596784427_2d85b91383_b.jpg"
                                                                                     title=""><img
        src="http://farm3.static.flickr.com/2833/9596784427_2d85b91383_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7458/9598278827_07dfd83b36_b.jpg"
                                                                                     title=""><img
        src="http://farm8.static.flickr.com/7458/9598278827_07dfd83b36_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7303/9600250963_cc98171ded_b.jpg"
                                                                                     title="Chinook"><img
        src="http://farm8.static.flickr.com/7303/9600250963_cc98171ded_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2827/9601257098_d474f45dfd_b.jpg"
                                                                                     title="GSV2h"><img
        src="http://farm3.static.flickr.com/2827/9601257098_d474f45dfd_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2889/9596144575_d94935375b_b.jpg"
                                                                                     title="the maestro"><img
        src="http://farm3.static.flickr.com/2889/9596144575_d94935375b_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7334/9603821078_f9f09a86cd_b.jpg"
                                                                                     title="~living~in~a~bubble~where~the~summer~lasts~forever~"><img
        src="http://farm8.static.flickr.com/7334/9603821078_f9f09a86cd_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2858/9603517442_2f3f9dd3f6_b.jpg"
                                                                                     title="Atardecer en Roquetas de Mar"><img
        src="http://farm3.static.flickr.com/2858/9603517442_2f3f9dd3f6_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7361/9603085202_92b4817203_b.jpg"
                                                                                     title="Blue Mesa Reservoir, Colorado, EXPLORED 8/27/2013"><img
        src="http://farm8.static.flickr.com/7361/9603085202_92b4817203_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5492/9602911192_7a4772c28b_b.jpg"
                                                                                     title="The mane, mean man"><img
        src="http://farm6.static.flickr.com/5492/9602911192_7a4772c28b_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3713/9602778858_c0cef01b04_b.jpg"
                                                                                     title="Reading at Laleli Mosque, Istanbul"><img
        src="http://farm4.static.flickr.com/3713/9602778858_c0cef01b04_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5322/9602655232_77096299d4_b.jpg"
                                                                                     title="“I like this place and could willingly waste my time in it.”"><img
        src="http://farm6.static.flickr.com/5322/9602655232_77096299d4_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5517/9602528374_0e45335596_b.jpg"
                                                                                     title="Colour Quayed......."><img
        src="http://farm6.static.flickr.com/5517/9602528374_0e45335596_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5479/9602436918_47f53921ea_b.jpg"
                                                                                     title="If there only had been sun .."><img
        src="http://farm6.static.flickr.com/5479/9602436918_47f53921ea_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7332/9602362502_49cce1f132_b.jpg"
                                                                                     title="Logan's Run"><img
        src="http://farm8.static.flickr.com/7332/9602362502_49cce1f132_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7432/9602326866_951f759b8b_b.jpg"
                                                                                     title="Amenazante"><img
        src="http://farm8.static.flickr.com/7432/9602326866_951f759b8b_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7384/9602236714_2de42f62de_b.jpg"
                                                                                     title="Swimming Hole..."><img
        src="http://farm8.static.flickr.com/7384/9602236714_2de42f62de_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3781/9600961560_377b5873c4_b.jpg"
                                                                                     title="DSCN0184 Yosemite Prescribed Burn [Explored]"><img
        src="http://farm4.static.flickr.com/3781/9600961560_377b5873c4_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3708/9600905940_626e17a480_b.jpg"
                                                                                     title="the creation of Adam"><img
        src="http://farm4.static.flickr.com/3708/9600905940_626e17a480_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5539/9600516690_c18e58868d_b.jpg"
                                                                                     title="Norwegian summer scenery"><img
        src="http://farm6.static.flickr.com/5539/9600516690_c18e58868d_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5478/9600159432_5c689102b2_b.jpg"
                                                                                     title="Gold (Explore)"><img
        src="http://farm6.static.flickr.com/5478/9600159432_5c689102b2_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5548/9600102290_80febeee8c_b.jpg"
                                                                                     title="Croyde Bay [Explored]"><img
        src="http://farm6.static.flickr.com/5548/9600102290_80febeee8c_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3803/9600061256_554f11df63_b.jpg"
                                                                                     title="Rockets Red glare"><img
        src="http://farm4.static.flickr.com/3803/9600061256_554f11df63_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7448/9599844088_2c154e2b18_b.jpg"
                                                                                     title="zigged zagged"><img
        src="http://farm8.static.flickr.com/7448/9599844088_2c154e2b18_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2812/9599780482_19bc65c5b6_b.jpg"
                                                                                     title="90016 Hensall 10-9-02"><img
        src="http://farm3.static.flickr.com/2812/9599780482_19bc65c5b6_s.jpg"></a></div>