<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>

        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <div class="modal-image"></div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i>
            Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
</div>


<div id="gallery" class="span5" data-toggle="modal-gallery" data-target="#modal-gallery"><a data-gallery="gallery"
                                                                              href="http://farm8.static.flickr.com/7386/9598065997_b31e1ce45f_b.jpg"
                                                                              title="光耀大地"><img
        src="http://farm8.static.flickr.com/7386/9598065997_b31e1ce45f_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7321/9605572464_951e9df5a1_b.jpg"
                                                                                     title="IMG_1759 Mountain Goat Nanny and Kid, Glacier National Park"><img
        src="http://farm8.static.flickr.com/7321/9605572464_951e9df5a1_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3726/9601531731_3e0a3afec3_b.jpg"
                                                                                     title="Mon Repos"><img
        src="http://farm4.static.flickr.com/3726/9601531731_3e0a3afec3_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5332/9598656830_ff84e715cf_b.jpg"
                                                                                     title="Star Finch"><img
        src="http://farm6.static.flickr.com/5332/9598656830_ff84e715cf_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7452/9602028520_89d7f6d95d_b.jpg"
                                                                                     title="Gliniada Boleslawiec 2013"><img
        src="http://farm8.static.flickr.com/7452/9602028520_89d7f6d95d_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3684/9599753794_f40b09dd95_b.jpg"
                                                                                     title="Long-taIled Jaeger - North Carolina"><img
        src="http://farm4.static.flickr.com/3684/9599753794_f40b09dd95_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2833/9596784427_2d85b91383_b.jpg"
                                                                                     title=""><img
        src="http://farm3.static.flickr.com/2833/9596784427_2d85b91383_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7458/9598278827_07dfd83b36_b.jpg"
                                                                                     title=""><img
        src="http://farm8.static.flickr.com/7458/9598278827_07dfd83b36_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7303/9600250963_cc98171ded_b.jpg"
                                                                                     title="Chinook"><img
        src="http://farm8.static.flickr.com/7303/9600250963_cc98171ded_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2827/9601257098_d474f45dfd_b.jpg"
                                                                                     title="GSV2h"><img
        src="http://farm3.static.flickr.com/2827/9601257098_d474f45dfd_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2889/9596144575_d94935375b_b.jpg"
                                                                                     title="the maestro"><img
        src="http://farm3.static.flickr.com/2889/9596144575_d94935375b_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7334/9603821078_f9f09a86cd_b.jpg"
                                                                                     title="~living~in~a~bubble~where~the~summer~lasts~forever~"><img
        src="http://farm8.static.flickr.com/7334/9603821078_f9f09a86cd_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2858/9603517442_2f3f9dd3f6_b.jpg"
                                                                                     title="Atardecer en Roquetas de Mar"><img
        src="http://farm3.static.flickr.com/2858/9603517442_2f3f9dd3f6_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7361/9603085202_92b4817203_b.jpg"
                                                                                     title="Blue Mesa Reservoir, Colorado, EXPLORED 8/27/2013"><img
        src="http://farm8.static.flickr.com/7361/9603085202_92b4817203_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5492/9602911192_7a4772c28b_b.jpg"
                                                                                     title="The mane, mean man"><img
        src="http://farm6.static.flickr.com/5492/9602911192_7a4772c28b_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3713/9602778858_c0cef01b04_b.jpg"
                                                                                     title="Reading at Laleli Mosque, Istanbul"><img
        src="http://farm4.static.flickr.com/3713/9602778858_c0cef01b04_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5322/9602655232_77096299d4_b.jpg"
                                                                                     title="“I like this place and could willingly waste my time in it.”"><img
        src="http://farm6.static.flickr.com/5322/9602655232_77096299d4_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5517/9602528374_0e45335596_b.jpg"
                                                                                     title="Colour Quayed......."><img
        src="http://farm6.static.flickr.com/5517/9602528374_0e45335596_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5479/9602436918_47f53921ea_b.jpg"
                                                                                     title="If there only had been sun .."><img
        src="http://farm6.static.flickr.com/5479/9602436918_47f53921ea_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7332/9602362502_49cce1f132_b.jpg"
                                                                                     title="Logan's Run"><img
        src="http://farm8.static.flickr.com/7332/9602362502_49cce1f132_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7432/9602326866_951f759b8b_b.jpg"
                                                                                     title="Amenazante"><img
        src="http://farm8.static.flickr.com/7432/9602326866_951f759b8b_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7384/9602236714_2de42f62de_b.jpg"
                                                                                     title="Swimming Hole..."><img
        src="http://farm8.static.flickr.com/7384/9602236714_2de42f62de_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3781/9600961560_377b5873c4_b.jpg"
                                                                                     title="DSCN0184 Yosemite Prescribed Burn [Explored]"><img
        src="http://farm4.static.flickr.com/3781/9600961560_377b5873c4_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3708/9600905940_626e17a480_b.jpg"
                                                                                     title="the creation of Adam"><img
        src="http://farm4.static.flickr.com/3708/9600905940_626e17a480_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5539/9600516690_c18e58868d_b.jpg"
                                                                                     title="Norwegian summer scenery"><img
        src="http://farm6.static.flickr.com/5539/9600516690_c18e58868d_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5478/9600159432_5c689102b2_b.jpg"
                                                                                     title="Gold (Explore)"><img
        src="http://farm6.static.flickr.com/5478/9600159432_5c689102b2_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5548/9600102290_80febeee8c_b.jpg"
                                                                                     title="Croyde Bay [Explored]"><img
        src="http://farm6.static.flickr.com/5548/9600102290_80febeee8c_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3803/9600061256_554f11df63_b.jpg"
                                                                                     title="Rockets Red glare"><img
        src="http://farm4.static.flickr.com/3803/9600061256_554f11df63_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7448/9599844088_2c154e2b18_b.jpg"
                                                                                     title="zigged zagged"><img
        src="http://farm8.static.flickr.com/7448/9599844088_2c154e2b18_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2812/9599780482_19bc65c5b6_b.jpg"
                                                                                     title="90016 Hensall 10-9-02"><img
        src="http://farm3.static.flickr.com/2812/9599780482_19bc65c5b6_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2805/9599413550_a062137031_b.jpg"
                                                                                     title="Jack Avenger"><img
        src="http://farm3.static.flickr.com/2805/9599413550_a062137031_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5467/9599280643_9f920b81cd_b.jpg"
                                                                                     title="sheep scenery"><img
        src="http://farm6.static.flickr.com/5467/9599280643_9f920b81cd_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5325/9599155868_c2d71b3b35_b.jpg"
                                                                                     title="superbaby"><img
        src="http://farm6.static.flickr.com/5325/9599155868_c2d71b3b35_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7284/9599081351_217875357f_b.jpg"
                                                                                     title="DSC_2926~1End 花蓮 60石山..08.26.2013 (Hualien- Mt. Sixty Ton )"><img
        src="http://farm8.static.flickr.com/7284/9599081351_217875357f_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3744/9599019454_3454e46dda_b.jpg"
                                                                                     title="The Road To Paradise"><img
        src="http://farm4.static.flickr.com/3744/9599019454_3454e46dda_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2882/9598923893_50b10f6695_b.jpg"
                                                                                     title="Bee - Anthophora bimaculata"><img
        src="http://farm3.static.flickr.com/2882/9598923893_50b10f6695_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7405/9598882810_b7f55e174f_b.jpg"
                                                                                     title=""><img
        src="http://farm8.static.flickr.com/7405/9598882810_b7f55e174f_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3705/9598638888_595549aabb_b.jpg"
                                                                                     title="Happy Monday Bench:-))"><img
        src="http://farm4.static.flickr.com/3705/9598638888_595549aabb_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3794/9598602423_e90a42f26e_b.jpg"
                                                                                     title="Canadá 2013. Catarates del Niágara. Niagara falls. (Explore aug 26, 2013)"><img
        src="http://farm4.static.flickr.com/3794/9598602423_e90a42f26e_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2855/9598561491_e2b40dfc5c_b.jpg"
                                                                                     title="close up"><img
        src="http://farm3.static.flickr.com/2855/9598561491_e2b40dfc5c_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5462/9598560606_b435d9e577_b.jpg"
                                                                                     title="Plaza Mayor de Salamanca (Explore)"><img
        src="http://farm6.static.flickr.com/5462/9598560606_b435d9e577_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7322/9598534099_7c2ef541cd_b.jpg"
                                                                                     title="Disc World"><img
        src="http://farm8.static.flickr.com/7322/9598534099_7c2ef541cd_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7303/9598401367_ee8f003e66_b.jpg"
                                                                                     title="Stranger 63/100"><img
        src="http://farm8.static.flickr.com/7303/9598401367_ee8f003e66_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7409/9598015609_14c5717ca5_b.jpg"
                                                                                     title="Leafhopper."><img
        src="http://farm8.static.flickr.com/7409/9598015609_14c5717ca5_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3681/9597624295_45f37bab21_b.jpg"
                                                                                     title="The Old Fort Corfu Town [Explored] 26/08/2013"><img
        src="http://farm4.static.flickr.com/3681/9597624295_45f37bab21_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2893/9597587383_6a3490fc58_b.jpg"
                                                                                     title="Sunset on Ko Phangan (Tailand 2013)"><img
        src="http://farm3.static.flickr.com/2893/9597587383_6a3490fc58_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3810/9597534367_289a8107d9_b.jpg"
                                                                                     title="A brilliant sea"><img
        src="http://farm4.static.flickr.com/3810/9597534367_289a8107d9_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7353/9597516193_2eafcbecd5_b.jpg"
                                                                                     title="Part company"><img
        src="http://farm8.static.flickr.com/7353/9597516193_2eafcbecd5_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3794/9597423765_5a0a6b3eca_b.jpg"
                                                                                     title="burning light"><img
        src="http://farm4.static.flickr.com/3794/9597423765_5a0a6b3eca_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7318/9597278265_c0bb390d7b_b.jpg"
                                                                                     title="SOTTOCASTELLO - PRIMA NEVE / FIRST SNOW - EXPLORE #22. Aug.26.2013"><img
        src="http://farm8.static.flickr.com/7318/9597278265_c0bb390d7b_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5531/9597162511_ddb1055b96_b.jpg"
                                                                                     title="Backyard Lightning"><img
        src="http://farm6.static.flickr.com/5531/9597162511_ddb1055b96_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7331/9597083179_353d94a4bc_b.jpg"
                                                                                     title="Loch Fleet LE."><img
        src="http://farm8.static.flickr.com/7331/9597083179_353d94a4bc_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5477/9596816025_652c931e16_b.jpg"
                                                                                     title="sunshine and love"><img
        src="http://farm6.static.flickr.com/5477/9596816025_652c931e16_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5545/9596762133_4fb3935765_b.jpg"
                                                                                     title="Sunshine over Venezia"><img
        src="http://farm6.static.flickr.com/5545/9596762133_4fb3935765_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3751/9596749399_4424bbd623_b.jpg"
                                                                                     title="Handley Page Victor"><img
        src="http://farm4.static.flickr.com/3751/9596749399_4424bbd623_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7451/9596735813_e5e91e8338_b.jpg"
                                                                                     title="Explore .... HBM .... Happy Bench Monday .... Flintstone Bench"><img
        src="http://farm8.static.flickr.com/7451/9596735813_e5e91e8338_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5537/9596485033_16dc2b1054_b.jpg"
                                                                                     title="Ramat (rebaño)"><img
        src="http://farm6.static.flickr.com/5537/9596485033_16dc2b1054_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7402/9596450435_cd754a74af_b.jpg"
                                                                                     title="Places we need to go"><img
        src="http://farm8.static.flickr.com/7402/9596450435_cd754a74af_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5503/9596405719_b1d54c4584_b.jpg"
                                                                                     title="Deer"><img
        src="http://farm6.static.flickr.com/5503/9596405719_b1d54c4584_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7345/9596268135_32a0f2a099_b.jpg"
                                                                                     title="Scenic beauty..."><img
        src="http://farm8.static.flickr.com/7345/9596268135_32a0f2a099_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7456/9596066789_c47eed90c4_b.jpg"
                                                                                     title="Paris"><img
        src="http://farm8.static.flickr.com/7456/9596066789_c47eed90c4_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7396/9595761829_09e0cbfcd9_b.jpg"
                                                                                     title="Mont Saint Michel"><img
        src="http://farm8.static.flickr.com/7396/9595761829_09e0cbfcd9_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3780/9601643154_3d87d90e1f_b.jpg"
                                                                                     title="Oh hello there"><img
        src="http://farm4.static.flickr.com/3780/9601643154_3d87d90e1f_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2833/9600102953_321ecf5f4c_b.jpg"
                                                                                     title="La araña del antifaz aguarda en el Daphne gnidium"><img
        src="http://farm3.static.flickr.com/2833/9600102953_321ecf5f4c_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7458/9599996106_182d0ec65f_b.jpg"
                                                                                     title="looking up a tree (Explored 2013-08-26)"><img
        src="http://farm8.static.flickr.com/7458/9599996106_182d0ec65f_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7314/9599653141_94716d861a_b.jpg"
                                                                                     title="Sub Sea Shell"><img
        src="http://farm8.static.flickr.com/7314/9599653141_94716d861a_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5507/9599731928_2c2c74aced_b.jpg"
                                                                                     title="Vercelli, Piazza Cavour"><img
        src="http://farm6.static.flickr.com/5507/9599731928_2c2c74aced_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2837/9603767504_d7dcea5363_b.jpg"
                                                                                     title="walk away"><img
        src="http://farm3.static.flickr.com/2837/9603767504_d7dcea5363_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3754/9603116692_e6b4373822_b.jpg"
                                                                                     title="The Blue Room"><img
        src="http://farm4.static.flickr.com/3754/9603116692_e6b4373822_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5448/9603021082_8ccdcbb7f6_b.jpg"
                                                                                     title="Les têtes blanches."><img
        src="http://farm6.static.flickr.com/5448/9603021082_8ccdcbb7f6_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2855/9602982488_21559f36cf_b.jpg"
                                                                                     title="F15E Ribbons *Explored*"><img
        src="http://farm3.static.flickr.com/2855/9602982488_21559f36cf_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2831/9600914226_a3b5686008_b.jpg"
                                                                                     title="Bean salad"><img
        src="http://farm3.static.flickr.com/2831/9600914226_a3b5686008_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7287/9600676884_aa255f744f_b.jpg"
                                                                                     title="Bokeh &amp; more"><img
        src="http://farm8.static.flickr.com/7287/9600676884_aa255f744f_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7357/9600251820_176cbcbf96_b.jpg"
                                                                                     title="Good companions (Explored)"><img
        src="http://farm8.static.flickr.com/7357/9600251820_176cbcbf96_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3773/9599731883_10485f7134_b.jpg"
                                                                                     title="Sun rising over Portsmouth (Explored)"><img
        src="http://farm4.static.flickr.com/3773/9599731883_10485f7134_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7283/9599557981_f783682b15_b.jpg"
                                                                                     title="20130612-DSCF5238"><img
        src="http://farm8.static.flickr.com/7283/9599557981_f783682b15_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5456/9599417428_49d3fe91cc_b.jpg"
                                                                                     title="Eastern Kingbird    (tyrannus tyrannus)"><img
        src="http://farm6.static.flickr.com/5456/9599417428_49d3fe91cc_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2863/9599260931_fcac520000_b.jpg"
                                                                                     title=""><img
        src="http://farm3.static.flickr.com/2863/9599260931_fcac520000_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7429/9598794166_d76b0be803_b.jpg"
                                                                                     title="Polar Bear no 1"><img
        src="http://farm8.static.flickr.com/7429/9598794166_d76b0be803_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5521/9598755182_a04ceb2121_b.jpg"
                                                                                     title="Explored 27/08/13"><img
        src="http://farm6.static.flickr.com/5521/9598755182_a04ceb2121_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2815/9598601034_76b1543bb9_b.jpg"
                                                                                     title="when the water is gone [EXPLORED]"><img
        src="http://farm3.static.flickr.com/2815/9598601034_76b1543bb9_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7287/9598415063_bdf52cb388_b.jpg"
                                                                                     title="chicago skyline pano"><img
        src="http://farm8.static.flickr.com/7287/9598415063_bdf52cb388_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3720/9596450017_97863a9e1e_b.jpg"
                                                                                     title="En cuisine... [explored 2013-08-26]"><img
        src="http://farm4.static.flickr.com/3720/9596450017_97863a9e1e_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7282/9604379208_4efbd0f8a4_b.jpg"
                                                                                     title="And I dreamed a dog was #1 on Explore!"><img
        src="http://farm8.static.flickr.com/7282/9604379208_4efbd0f8a4_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3675/9603559650_8055375ec1_b.jpg"
                                                                                     title="Accommodating Dragonfly"><img
        src="http://farm4.static.flickr.com/3675/9603559650_8055375ec1_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3834/9601486028_959d5664d9_b.jpg"
                                                                                     title="Das Zentrum der Macht ... 238/365"><img
        src="http://farm4.static.flickr.com/3834/9601486028_959d5664d9_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7381/9600639418_47a6809296_b.jpg"
                                                                                     title="Lake Louise Alberta Canada"><img
        src="http://farm8.static.flickr.com/7381/9600639418_47a6809296_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3765/9600022522_f017d441ca_b.jpg"
                                                                                     title="grilled tuna burger"><img
        src="http://farm4.static.flickr.com/3765/9600022522_f017d441ca_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7432/9599635928_8d56286db6_b.jpg"
                                                                                     title="Sunset August 25 2013 from Raptor Ridge by Jim Crotty 3"><img
        src="http://farm8.static.flickr.com/7432/9599635928_8d56286db6_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2852/9598580150_2b2e7bde5b_b.jpg"
                                                                                     title="Crested Shrike-tit"><img
        src="http://farm3.static.flickr.com/2852/9598580150_2b2e7bde5b_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3827/9604612222_60b09b29e3_b.jpg"
                                                                                     title="Kristina Heading Out the Channel - Low Freeboard"><img
        src="http://farm4.static.flickr.com/3827/9604612222_60b09b29e3_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5468/9599091084_8fdd9cc1df_b.jpg"
                                                                                     title="Laguna Miñiques"><img
        src="http://farm6.static.flickr.com/5468/9599091084_8fdd9cc1df_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2853/9603477372_85c6d73e49_b.jpg"
                                                                                     title="Milky Way and light pollution (Explore 2013-08-26)"><img
        src="http://farm3.static.flickr.com/2853/9603477372_85c6d73e49_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5545/9602706904_a5c873e137_b.jpg"
                                                                                     title=""><img
        src="http://farm6.static.flickr.com/5545/9602706904_a5c873e137_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3828/9600556748_0224335a2d_b.jpg"
                                                                                     title="New-York #1"><img
        src="http://farm4.static.flickr.com/3828/9600556748_0224335a2d_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5453/9599764375_6ea4ef90b9_b.jpg"
                                                                                     title="Windermere sunrise."><img
        src="http://farm6.static.flickr.com/5453/9599764375_6ea4ef90b9_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm6.static.flickr.com/5492/9599504787_d1e0b8e2a1_b.jpg"
                                                                                     title="Below the sky II"><img
        src="http://farm6.static.flickr.com/5492/9599504787_d1e0b8e2a1_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm4.static.flickr.com/3743/9599326559_102b51f85f_b.jpg"
                                                                                     title="Mixed Meadow Flowers"><img
        src="http://farm4.static.flickr.com/3743/9599326559_102b51f85f_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm3.static.flickr.com/2880/9599247794_ec17fa13e0_b.jpg"
                                                                                     title="Sha Tin Hoi - 2"><img
        src="http://farm3.static.flickr.com/2880/9599247794_ec17fa13e0_s.jpg"></a><a data-gallery="gallery"
                                                                                     href="http://farm8.static.flickr.com/7306/9599107432_8cf71d1fa3_b.jpg"
                                                                                     title="Reculver Sunset"><img
        src="http://farm8.static.flickr.com/7306/9599107432_8cf71d1fa3_s.jpg"></a></div>