
<!-- build:html views/common/header.html -->
<div ng-include src="'views/common/header.html'"></div>
<!-- build:html views/home/carousel.html -->
<div ng-include src="'views/home/carousel.html'"></div>
<div ng-include src="'views/home/join_share_banner.html'"></div>




<!-- build:html views/activity/activity_stream.html -->
<div ng-include src="'views/activity/activity_stream.html'"></div>
<div ng-include src="'views/users/user_thumbnails.html'"></div>
<!-- build:html views/blog/blog_post_thumbnails.html -->
<!--<div ng-include src="'views/blog/blog_post_thumbnails.html'"></div>-->

